In [2]:
import pandas as pd
lusitania='/Users/russellsasaki/Desktop/DSI/dsi_workspace/projects/project-02/assets/lusitania.csv'
lusitania_df=pd.read_csv(lusitania)
lusitania_df

,Family name,Title,Personal name,Fate,Age,Department/Class,Passenger/Crew,Citizenship,Position,Status,...,Country,Lifeboat,Rescue Vessel,Body No.,Ticket No.,Cabin No.,Traveling Companions and other notes,Value,Adult/Minor,Sex
0,CAMERON,Mr.,Charles W.,Lost,38,Band,Crew,British,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,Adult,Male
1,CARR-JONES,Mr.,E.,Lost,37,Band,Crew,British,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,Adult,Male
2,DRAKEFORD,Mr.,Edward,Saved,30,Band,Crew,British,Violin,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,Adult,Male
3,HAWKINS,Mr.,Handel,Saved,25,Band,Crew,British,Cello,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,Adult,Male
4,HEMINGWAY,Mr.,John William,Saved,27,Band,Crew,British,Double Bass,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,Adult,Male
5,ANDERSON,Mr.,James Clarke,Lost,48,Deck,Crew,British,Staff Captain,NaN,...,England,NaN,NaN,48,NaN,NaN,NaN,1,Adult,Male
6,ANDERSON,Mr.,John,Lost,NaN,Deck,Crew,Norwegian,Able-Bodied Seaman,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,Adult,Male
7,BATTLE,Mr.,James,Saved,NaN,Deck,Crew,British (Irish),Able-Bodied Seaman,NaN,...,Ireland,3 collapsibles,Westborough (Katrina),NaN,NaN,NaN,NaN,1,Adult,Male
8,BESTIC,Mr.,Albert Arthur,Saved,24,Deck,Crew,British (Irish),Junior Third Officer,Single,...,Ireland,collapsible,Bluebell,NaN,NaN,NaN,NaN,1,Adult,Male
9,BOWDEN,Mr.,Joseph,Saved,19 ?,Deck,Crew,British,Able-Bodied Seaman,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,Adult,Male
10,BROWN,Mr.,John Manson George,Lost,57,Deck,Crew,British,Joiner,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,Adult,Male
11,CANNON,Mr.,Robert Henry,Lost,50,Deck,Crew,British,Inspector,NaN,...,NaN,NaN,NaN,176,NaN,NaN,NaN,1,Adult,Male
12,CLINTON,Mr.,George,Saved,NaN,Deck,Crew,British,Able-Bodied Seaman,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,Adult,Male
13,CLYDE,Mr.,Neil,Saved,NaN,Deck,Crew,British,Able-Bodied Seaman,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,Adult,Male
14,CRANK,Mr.,John,Lost,NaN,Deck,Crew,British,Baggage Master,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,Adult,Male
15,CUNNINGHAM,Mr.,Edward,Saved,NaN,Deck,Crew,British,Able-Bodied Seaman,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,Adult,Male
16,DAVIES,Mr.,John,Saved,NaN,Deck,Crew,British,Boatswain,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,Adult,Male
17,EGAN,Mr.,William,Saved,NaN,Deck,Crew,British,Boatswain's Mate,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,Adult,Male
18,ELLIOT,Mr.,Arthur Graham,Lost,NaN,Deck,Crew,British,Able-Bodied Seaman,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,Adult,Male
19,ELLIOT,Mr.,Fred,Saved,NaN,Deck,Crew,British,Able-Bodied Seaman,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,Adult,Male
20,EVANS,Mr.,Thomas William,Lost,NaN,Deck,Crew,British,Able-Bodied Seaman,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,Adult,Male
21,FAYLE,Mr.,Edward,Saved,NaN,Deck,Crew,British,Able-Bodied Seaman,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,Adult,Male
22,FLEMMING,Mr.,Herbert,Lost,NaN,Deck,Crew,British,Able-Bodied Seaman,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,Adult,Male
23,GARRY,Dr.,Joseph,Lost,25,Deck,Crew,British (Irish),Assistant Surgeon,NaN,...,Ireland,NaN,NaN,NaN,NaN,NaN,NaN,1,Adult,Male
24,GUNN,Mr.,C.,Saved,NaN,Deck,Crew,British,Able-Bodied Seaman,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,Adult,Male
25,HARMAN,Mr.,John,Saved,56,Deck,Crew,British (Irish),Able-Bodied Seaman,NaN,...,Ireland,NaN,NaN,NaN,NaN,NaN,NaN,1,Adult,Male
26,HEFFORD,Mr.,Percy,Lost,NaN,Deck,Crew,British,Second Officer,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,Adult,Male
27,HEIGHWAY,Mr.,Edward John,Saved,41,Deck,Crew,British (Irish),Able-Bodied Seaman,NaN,...,Ireland,NaN,NaN,NaN,NaN,NaN,NaN,1,Adult,Male
28,HENNESEY,Mr.,Frank,Saved,NaN,Deck,Crew,British,Able-Bodied Seaman,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,Adult,Male
29,HERMAN,Mr.,Albert,Lost,NaN,Deck,Crew,British,Able-Bodied Seaman,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,Adult,Male
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1931,THOMAS,Mr.,William Stanford,Lost,44,Victualling,Crew,British,Second Cabin Cabin Bed Steward,NaN,...,NaN,NaN,NaN,138,NaN,NaN,NaN,1,Adult,Male
1932,THOMAS,Mr.,George Henry,Lost,NaN,Victualling,Crew,British,Assistant Officers' Mess Steward,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,Adult,Male
1933,THOMAS,Mr.,John,Saved,NaN,Victualling,Crew,British,Second Waiter,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,Adult,Male
1934,THORN,Mr.,Alfred Richard,Lost,NaN,Victualling,Crew,British,First Waiter,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,Adult,Male
1935,THORNLEY,Mr.,George,Saved,NaN,Victualling,Crew,British,Assistant Pantry Steward,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,Adult,Male
1936,ULGAR,Mr.,Jean,Lost,NaN,Victualling,Crew,Spanish,Sauce Cook,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,Adult,Male
1937,Van HOECK,Mr.,Julius E.,Saved,27,Victualling,Crew,Dutch,First Waiter,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,Adult,Male
1938,VARNEY,Mr.,John,Lost,NaN,Victualling,Crew,British,Waiter,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,Adult,Male
1939,VERDIN,Mr.,Francis,Lost,NaN,Victualling,Crew,British,Sculleryman,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,Adult,Male
1940,WALLACE,Mr.,James,Saved,NaN,Victualling,Crew,British,Second Waiter,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,Adult,Male
1941,WEIGH,Mr.,Edward�,Saved,NaN,Victualling,Crew,British,Waiter,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,Adult,Male
1942,WEIR,Mrs.,Margaret,Lost,51,Victualling,Crew,British,Stewardess,NaN,...,NaN,NaN,NaN,40,NaN,NaN,NaN,1,Adult,Female
1943,WHALLEY,Mr.,Leslie,Saved,NaN,Victualling,Crew,British,Third Waiter,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,Adult,Male
1944,WIGGINS,Mr.,William,Saved,23,Victualling,Crew,British,Deck Steward,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,Adult,Male
1945,WILKINSON,Mr.,Mr. James,Lost,NaN,Victualling,Crew,British,Engineers� Mess Steward,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,Adult,Male
1946,WILLIAMS,Mr.,John,Lost,NaN,Victualling,Crew,British,Third Waiter,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,Adult,Male
1947,WILLIAMS,Mr.,Mr. Harold,Lost,NaN,Victualling,Crew,British,Second Waiter,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,Adult,Male
1948,WILLIAMS,Mr.,Robert,Lost,NaN,Victualling,Crew,British,Night Watchman,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,Adult,Male
1949,WILLIAMS,Mr.,Robert Neptune,Lost,NaN,Victualling,Crew,British,First Waiter,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,Adult,Male
1950,WILLIAMS,Mr.,William H.,Saved,NaN,Victualling,Crew,British,Saloon Cabin Bed Steward,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,Adult,Male
1951,WILMIN,Mr.,William,Saved,NaN,Victualling,Crew,British,Pantry Steward,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,Adult,Male
1952,WILSON,Mr.,Robert,Lost,NaN,Victualling,Crew,British,First Waiter,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,Adult,Male
1953,WISEMAN,Mr.,James,Lost,NaN,Victualling,Crew,British,Second Baker,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,Adult,Male
1954,WOOD,Mr.,Walter,Saved,31,Victualling,Crew,British,Saloon Cabin Bed Steward,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,Adult,Male
1955,WOOD,Mr.,Henry Edward,Lost,35,Victualling,Crew,British,Assistant Pantry Steward,NaN,...,NaN,NaN,NaN,90,NaN,NaN,Buried in Common Grave B,1,Adult,Male
1956,WOOD,Mr.,Alfred,Saved,NaN,Victualling,Crew,British,Saloon Cabin Bed Steward,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,Adult,Male
1957,WOOD,Mr.,Wallace Edkin,Lost,NaN,Victualling,Crew,British,"Barkeeper, Smokeroom Second Cabin",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,Adult,Male
1958,WRIGHT,Master (?),Harold Joseph,Lost,NaN,Victualling,Crew,British,Steward's Boy,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,Minor?,Male
1959,WYNNE,Master,George,Saved,16,Victualling,Crew,British,Assistant Cook,NaN,...,England,14,Indian Empire,NaN,NaN,NaN,George was assistant cook in first class. Age ...,1,Minor,Male
1960,WYNNE,Mr.,Joseph Dominic,Lost,37,Victualling,Crew,British,Sculleryman,NaN,...,England,NaN,NaN,NaN,NaN,NaN,Joseph was George�s father. Suffered from bron...,1,Adult,Male

In [6]:
df=pd.DataFrame(lusitania_df, columns=['Age'])
df

       Age
0       38
1       37
2       30
3       25
4       27
5       48
6      NaN
7      NaN
8       24
9     19 ?
10      57
11      50
12     NaN
13     NaN
14     NaN
15     NaN
16     NaN
17     NaN
18     NaN
19     NaN
20     NaN
21     NaN
22     NaN
23      25
24     NaN
25      56
26     NaN
27      41
28     NaN
29     NaN
...    ...
1931    44
1932   NaN
1933   NaN
1934   NaN
1935   NaN
1936   NaN
1937    27
1938   NaN
1939   NaN
1940   NaN
1941   NaN
1942    51
1943   NaN
1944    23
1945   NaN
1946   NaN
1947   NaN
1948   NaN
1949   NaN
1950   NaN
1951   NaN
1952   NaN
1953   NaN
1954    31
1955    35
1956   NaN
1957   NaN
1958   NaN
1959    16
1960    37

[1961 rows x 1 columns]

In [18]:
df['real age'] = df['Age'].str.replace('(\d\d-......)','\\1')
df

       Age real age
0       38       38
1       37       37
2       30       30
3       25       25
4       27       27
5       48       48
6      NaN      NaN
7      NaN      NaN
8       24       24
9     19 ?     19 ?
10      57       57
11      50       50
12     NaN      NaN
13     NaN      NaN
14     NaN      NaN
15     NaN      NaN
16     NaN      NaN
17     NaN      NaN
18     NaN      NaN
19     NaN      NaN
20     NaN      NaN
21     NaN      NaN
22     NaN      NaN
23      25       25
24     NaN      NaN
25      56       56
26     NaN      NaN
27      41       41
28     NaN      NaN
29     NaN      NaN
...    ...      ...
1931    44       44
1932   NaN      NaN
1933   NaN      NaN
1934   NaN      NaN
1935   NaN      NaN
1936   NaN      NaN
1937    27       27
1938   NaN      NaN
1939   NaN      NaN
1940   NaN      NaN
1941   NaN      NaN
1942    51       51
1943   NaN      NaN
1944    23       23
1945   NaN      NaN
1946   NaN      NaN
1947   NaN      NaN
1948   NaN      NaN
1949   NaN      NaN
1950   NaN      NaN
1951   NaN      NaN
1952   NaN      NaN
1953   NaN      NaN
1954    31       31
1955    35       35
1956   NaN      NaN
1957   NaN      NaN
1958   NaN      NaN
1959    16       16
1960    37       37

[1961 rows x 2 columns]